# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env

# Notebooks
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Model files
*.h5
*.pkl
models/trained/*

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep